    
    <robot name="cylinder_6">
        <link name="cylinder_6">    
            <fem>
                <origin rpy="0.0 0.0 0.0" xyz="0 0 0" />
                <density value="100" />
                <youngs value="9423"/>
                <poissons value="0.3" />
                <damping value="0.0" />
                <attachDistance value="0.01" />
                <tetmesh filename="/home/baothach/sim_data/Custom/Custom_mesh/multi_cylinders_10kPa/cylinder_6.tet" />
                <scale value="0.5"/>
            </fem>
        </link>

        <link name="fix_frame">
            <visual>
                <origin xyz="0.0 0.0 10.060017616339195"/>
                <geometry>
                    <box size="0.15 0.0354244440626695 0.005"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.0600176163391956"/>
                <geometry>
                    <box size="0.15 0.0354244440626695 0.005"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="500000"/>
                <inertia ixx="0.05" ixy="0.0" ixz="0.0" iyy="0.05" iyz="0.0" izz="0.05"/>
            </inertial>
        </link>
        
        <joint name = "attach" type = "fixed">
            <origin xyz = "0.0 0.0 0.0" rpy = "0 0 0"/>
            <parent link ="cylinder_6"/>
            <child link = "fix_frame"/>
        </joint>  




    </robot>
    